@model List<Message>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Layout/Index.cshtml";
}

	<div class="content">
		<div class="container-fluid">
			<h4 class="page-title">Mesajlar</h4>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Gelen Mesaj Listesi</div>
						</div>
						<div class="card-body">
							<div class="card-sub">
								Mesajlar ile İlgili İşlemleri Aşağıdaki Panelden Yapabilirsiniz.
							</div>
							<table class="table mt-3">
								<thead>
									</thead>
								<tbody>
								<table class="table">
									<thead>
										<tr>
											<th>Mesaj ID</th>
											<th>Gönderen</th>
											<th>Konu</th>
											<th>Gönderim Tarihi</th>
											<th>Detay</th>
											<th>Okunma Durumu</th>
											<th>Sil</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in Model)
										{
											<tr>
												<td>@item.MessageId</td>
												<td>@item.NameSurname</td>
												<td>@item.Subject</td>
												<td>@item.SendDate.ToShortDateString()</td>
												<td><a href="/Message/MessageDetail/@item.MessageId" class="btn btn-warning">Mesajı Aç</a></td>
												<td>
													@if (item.IsRead)
													{
														<a href="/Message/ChangeIsReadToFalse/@item.MessageId" class="btn btn-dark">Okunmadı Olarak İşaretle</a>
													}
													else
													{
														<a href="/Message/ChangeIsReadToTrue/@item.MessageId" class="btn btn-info">Okundu Olarak İşaretle</a>
													}
												</td>
												<td><a href="/Message/DeleteMessage/@item.MessageId" class="btn btn-danger">Sil</a></td>
											</tr>
										}
									</tbody>
								</table>

@* 									@foreach(var item in Model)
									{
										<tr>
											<td>@item.MessageId</td>
											<td>@item.NameSurname</td>
											<td>@item.Subject</td>
											<td>@item.SendDate.ToShortDateString()</td>
											<td><a href="/Message/MessageDetail/@item.MessageId" class ="btn btn-warning">Mesajı Aç</a></td>
										@if (item.IsRead == true)
										{
											<td><a href="/Message/ChangeIsReadToFalse/@item.MessageId" class="btn btn-dark">Okunmadı Olarak İşretle.</a></td>

										}
										else{
											<td><a href="/Message/ChangeIsReadToTrue/@item.MessageId" class="btn btn-info">Okundu Olarak İşaretle.</a>
												</td>
										}
										<td><a href="/Message/DeleteMessage/@item.MessageId" class ="btn btn-danger">Sil</a></td>
										</tr>
									}
 *@									
								</tbody>
							</table>
						</div>
					</div>
					</div>
			</div>
		</div>
	</div>

